asgiref
attrs
autopep8
certifi
charset-normalizer
cloudinary
coverage
crispy-bootstrap5
Django
django-admin-honeypot-updated-2021
django-ckeditor
django-cors-headers
django-crispy-forms
django-htmx
django-ipware
django-js-asset
django-markdown
django-taggit
exceptiongroup
factory-boy
Faker
gunicorn
idna
importlib-metadata
inflection
iniconfig
Markdown
packaging
Pillow
pluggy
psycopg2-binary
pycodestyle
pytest
pytest-cov
pytest-django
pytest-factoryboy
python-dateutil
python-decouple
python-dotenv
requests
six
sqlparse
tomli
typing_extensions
urllib3
zipp
